<div class="modal fade" id="simple-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          Welcome
        </h4>
      </div>
      <div class="modal-body">
        <form id="email-form">
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Insert your E-mail address here" required>
          </div>
        <button type="submit" class="btn btn-primary">Send message</button>

        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(window).load(function(){
        $('#simple-dialog').modal({'backdrop': 'static'});
    });
</script>

